<% layout("/layouts/boilerplate")%>

    <div class="divm row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let product of allProducts){ %>
           <a href="/product/<%=product._id%>">
            <div class="product-card product-hov">
                <img src="<%= product.img%>" class="card-img-top" style="height: 19rem; width: 15rem">
            
                <div class="card-body">
                    <p class="card-text">
                        <b><%= product.name %></b><br> 
                        &#8377;<%= product.price.toLocaleString("en-IN") %>/item%>
                    </p>
                    
                </div>
            </div></a>
        <% } %>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
